* {
    box-sizing: border-box;
}


body {
  
    display: flex;
    max-height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(./images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}
 


img {
    max-width: 100%;
}

.container {
    margin: auto;
    max-width: 100%;
    width: 1200px;
}


.flex-row {
    display: flex;
    margin: 20px 0;
}