@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');


* {
    box-sizing: border-box;
}


body {
  
    display: flex;
    max-height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('./images/bg-desktop.svg');
    background-color: hsl(257, 40%, 49%);
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    
}
 

img {
    max-width: 100%;
}

h1 {
    font-family: 'Poppins';
    font-size: 2.5rem;
}

p {
    font-family: 'Open sans';
    font-size: 1.1rem;
    opacity: 0.8;
}

.container {
    margin: auto;
    max-width: 100%;
    width: 1200px;
}

header img {
  width: 15%;
  margin-top: 50px ;
}

.flex-row {
    display: flex;
    margin-top: 90px;
    
    
}

.flex-row .left {
    flex: 0.7;
}

.flex-row .left img {
}

.flex-row .right {
    flex: 0.4;
    margin-top: 20px;
    
}

.flex-row .right  button {
    padding: 15px 50px;
    border-radius: 30px;
    border: none;
    color: hsl(257, 40%, 49%);
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background-color: #fff;
    outline: none;

}
.flex-row .right  button:hover {
    background-color: hsl(300, 69%, 71%);
}

.socials {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    
}
.socials a {
    border-radius: 50%;
    border: 1px solid #fff;
    display: inline-flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-size: 15px;
    padding: 8px;
    width: 30px;
    height: 30px;
    text-decoration: none;
}

.socials a:hover{
    color: hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%);
}

.footer p {
    text-align: center;
}
   