* {
    box-sizing: border-box;
}


body {
    margin: 0;
    display: flex;
    max-height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(./images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
 
}


img {
    background-repeat: no-repeat;
    background-size: cover;
}